:root {
  --navbar-w: 200px; /* set your navbar width once */
}

#mainNavBar {
  position: fixed;     /* stick to left */
  top: 0;
  left: 0;
  width: var(--navbar-w);
  height: 100vh;       /* full height of screen */
  z-index: 1000;

  display: flex;
  flex-direction: column; /* stack logo, links, contact vertically */
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 1rem;
  background-color: #2b2a33e8;
}

#mainNavBar .logo img {
  padding: 0.5rem;
  width: 100px;
  height: auto;
  object-fit: contain;
  background-color: blanchedalmond;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#mainNavBar .nav-links {
  display: flex;
  flex-direction: column;  /* stack links vertically */
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

#mainNavBar .nav-links li a {
  color: blanchedalmond;
  padding: 10px 20px;
  border-radius: 10rem;
  text-decoration: none;
}

#mainNavBar .nav-links li a:hover {
  color:blanchedalmond;
  background-color: #17795E;
}

#mainNavBar .contact {
  margin-top: auto; /* push contact to bottom of sidebar */
  font-size: 1.5rem;
}

#mainNavBar .contact a {
  color: blanchedalmond;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 10rem;
  text-decoration: none;
}

#mainNavBar .contact a:hover {
  color:  blanchedalmond;
  background-color: #17795E;
}

/* push main page content right so it doesn’t overlap */
body, .page, main {
  margin-left: var(--navbar-w);
}

.horizontalline{
  border: 2px solid rgba(255, 235, 205, 0.5); width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}